@charset "UTF-8";

html { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

*, *:before, *:after { -webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; background: #FFFFFF; }

a { color: inherit; text-decoration: none; }
a:hover { text-decoration: none; }

@font-face { font-family: 'CothamSansRegular'; font-weight: normal; font-style: normal;  }
body { font-family: 'CothamSansRegular'; font-weight: normal; font-style: normal; line-height: 1; background: #FFFFFF; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.home { position: relative; z-index: 1000; background: #FFFFFF; margin-bottom: 752px; }

/* Layouts */
.container { margin: 0 auto; position: relative; }
@media (min-width: 768px) and (max-width: 1023px) { .container { width: 100%; margin: 0; } }

.section { border-bottom: 1px solid #E8E8E8; padding: 5%; padding-top: 10%; }

/* Intro */
.lagom-desc { margin: 0; padding: 0 0 80px 52px; position: relative; }
@media (min-width: 768px) and (max-width: 1023px) { .lagom-desc { padding: 0 0 40px 52px; } }

.lagom-desc .icon-symbol { width: 38px; height: 50px; background: url("../images/lagom.png") top left no-repeat; background-size: 38px 50px; position: absolute; top: 0; left: 0; }

.lagom-desc h3.fullname { font-size: 18px; line-height: 18px; font-weight: 500; color: #252525; padding: 3px 0 2px 0; }

.lagom-desc p.designation { font-size: 16px; line-height: 16px; font-weight: 400; color: #757575; }

.we-build { margin: 0; padding: 0; }
@media (max-width: 568px) { .we-build { max-width: 350px; } }

.we-build .currently { font-size: 42px; line-height: 56px; color: #252525; padding-bottom: 10%; padding-top: 20%; cursor: crosshair;}

.we-build .previously { font-size: 14px; line-height: 14px; color: #757575; }

.we-build .previously strong { text-transform: uppercase; font-weight: 600; padding-right: 15px; }

/* Footer */
.footer { position: fixed; left: 0px; bottom: 0px; right: 0; background: #000; background-attachment: fixed; z-index: 0; }

.footer .section { border-bottom: none; }

.footer .lagom-desc { margin: 0; padding: 0; position: relative; text-align: center; }

.footer .lagom-desc .icon-symbol { background: url("../images/lagom-white.png") top left no-repeat; background-size: 100%; position: relative; display: inline-block; }

.footer .lagom-desc h3.fullname { font-size: 18px; line-height: 18px; font-weight: 500; color: #FFFFFF; padding: 8px 0 4px 0; }

.footer .lagom-desc p.designation { font-size: 16px; line-height: 16px; font-weight: 400; color: rgba(255, 255, 255, 0.75); }

.lets-chat { width: 1px; height: 120px; background: rgba(255, 255, 255, 0.4); margin: 20px auto; position: relative; }

.lets-chat::before { content: "Have a project? Let’s chat"; position: absolute; top: 35px; left: -60px; width: 120px; text-align: center; background: #000; padding: 10px 0; color: rgba(255, 255, 255, 0.4); }

.contact { margin: 0; text-align: center; }

.contact .email { font-size: 48px; line-height: 48px; font-weight: 500; color: #FFFFFF; display: inline-block; text-decoration: underline; transition: all .2s ease-in-out; }
@media (min-width:470px) { .contact .email { font-size: 40px; } }

.contact .email { font-size: 40px; line-height: 48px; font-weight: 500; color: #FFFFFF; display: inline-block; text-decoration: underline; transition: all .2s ease-in-out; }
@media (max-width:470px) { .contact .email { font-size: 40px; } }

.contact .email:hover { transform: scale(1.03); }

.contact .availability { font-size: 16px; line-height: 20px; display: block; padding: 20px 0 0 0; color: rgba(255, 255, 255, 0.75); }

.footer .colophon .container { border-top: 1px solid rgba(255, 255, 255, 0.2); padding: 30px 0; overflow: hidden; }

.colophon .copyright { float: left; color: rgba(255, 255, 255, 0.75); padding-left: 5%; }

.colophon .social-links { float: right; overflow: hidden; padding-right: 5%; }
@media (max-width: 600px) { .colophon .social-links { float: left; padding-top: 2%; } }

.colophon .social-links { float: right; margin-left: 20px; }

.colophon .social-links a { color: rgba(255, 255, 255, 0.75); }
.colophon .social-links a:hover { color: white; text-decoration: underline; }
